<nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color: #0F4FA1; color:white;">
  <a class="navbar-brand" href="/">
    <!-- <img id="brand-image" src="http://nebula.wsimg.com/6a811bb10b27401e1e37c63a72041b5e?AccessKeyId=D5C2E150D455F32B27E2&disposition=0&alloworigin=1" width="70vw;" height="70vh;" alt=""> -->
    <span id="brand-text"> Foothills Speech and Language</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#about-us">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Therapy</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">FAQ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
  </div>
  <span id="nav-phone-number"> (303) 794-4900</span>
</nav>
