<!-- <div class="row">
  <div class="col-12"> -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color: #0F4FA1; color:white;">
      <a class="navbar-brand" href="/">
        <span id="brand-text"> Foothills Speech and Language</span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#home">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about-us">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#therapy">Therapy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#faq">FAQ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#testimonials">Testimonials</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
      <span class="navbar-text" id="nav-phone-number"> (303) 794-4900<br>
        26 W. Dry Creek Circle, Suite 425<br>
        Littleton, Colorado  80120
      </span>
    </nav>
  <!-- </div>
<div> -->
