<div class="row justify-content-center" id="foot">
  <div class="col" style="text-align:center;">
    <div id="facebook-link" onclick="window.location = 'https://www.facebook.com/foothillsspeechlanguage';">
      <i class="fab fa-facebook-f fa-2x "></i>
    </div>
  </div>
  <div class="col" style="text-align:center;">
    <!-- <span onclick="document.location=#home">Home</span> -->
    <a href="#home" style="color:white;">Home</a> -
    <a href="#about-us" style="color:white;">About</a> -
    <a href="#therapy" style="color:white;">Therapy</a> -
    <a href="#faq" style="color:white;">FAQ</a> -
    <a href="#contact" style="color:white;">Contact</a>
  </div>
  <div class="col" style="text-align:center; padding-right:0px;">
    <img src="http://denverspeechandlanguage.com/wp-content/uploads/2014/05/ashl_grey.png" width="25%"height="auto"   >
  </div>
</div>
