<div class="row" id="about-us-row">
  <div class="col-12" id="about-us-column">
    <a class="anchor" id="about-us"></a>
    <div id="about-us-text">
      <div id="about-us-header">
        <div id="about-us-header-text">
          <span>
            About Us
          </span>
        </div>
      </div>
      <div class="row justify-content-center" id="about-us-carousel">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="https://s3-us-west-2.amazonaws.com/foothills-speech/pictures/JS+4x3.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="https://s3-us-west-2.amazonaws.com/foothills-speech/pictures/IMG_5030.jpg" alt="Second slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="https://s3-us-west-2.amazonaws.com/foothills-speech/pictures/IMG_5008.jpg" alt="Third slide">
            </div>
          </div>
        </div>
      </div>
      <div id="about-us-body">
        <p id="about-us-body-text">
          Foothills Speech and Language is one of few outpatient offices treating patients of all
          ages struggling with a wide range of communicative disorders.
          <br><br>
          Exceptional quality care is our goal.
           Providing individualized, evidence-based practices, specific to each patient with a focus on
          functional and lasting outcomes is our commitment to you.
          <br><br>
          Our knowledgeable staff has
          treated patients ranging from 5 days of life to 105 years of living.
        </p>
      </div>
    </div>
    <!-- <%= render 'home/mid_section' %> -->
  </div>
</div>
