<div class="row" id="about-us-row">
  <div class="col-12" id="about-us-column">
    <a class="anchor" id="about-us"></a>
    <div id="about-us-text">
      <div id="about-us-header">
        <div id="about-us-header-text">
          <span>
            About Us
          </span>
            <img id="about-us-logo-photo" src="https://s3-us-west-1.amazonaws.com/foothills-assets/FoothillsLogo.png" alt="about-us-logo-photo" height="10%" width="10%">
        </div>
      </div>
      <div class="row justify-content-center" id="about-us-carousel">
        <img id="about-us-photo" src="https://s3-us-west-1.amazonaws.com/foothills-assets/AboutPhotoFoothills-min.jpg" alt="about-us-photo" height="50%" width="50%">
      </div>
      <div id="about-us-body">
        <p id="about-us-body-text">
          Foothills Speech and Language is one of few outpatient offices treating patients of all
          ages struggling with a wide range of communicative disorders.
          <br><br>
          Exceptional quality care is our goal.
           Providing individualized, evidence-based practices, specific to each patient with a focus on
          functional and lasting outcomes is our commitment to you.
          <br><br>
          Our knowledgeable staff has
          treated patients ranging from 5 days of life to 105 years of living.
        </p>
      </div>
    </div>
  </div>
</div>
<%= render 'home/mid_section' %>
