<div class="row justify-content-center" id="contact-row">
  <div class="col-12" id="contact-column">
    <a class="anchor" id="contact"></a>
    <div id="contact-text">
      <div id="contact-header">
        <div id="contact-header-text">
          <span>
            Contact
          </span>
        </div>
      </div>
      <div class="row justify-content-center">
        <div id="contact-body">
          <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3075.0783433657525!2d-104.99323798460689!3d39.58038467947124!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x876c8196aaaaaaab%3A0x5bbb8653f08dc6ed!2sFoothills+Speech+%26+Language!5e0!3m2!1sen!2sus!4v1518138142927" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe> -->
          <form action="/contact/new" method="new" id="contact-form">
            <input id="contact-form-name" class="contact-form-input" type="text" name="name", placeholder="Name"><br>
            <input id="contact-form-phone" class="contact-form-input" type="text" name="phone", placeholder="Phone"><br>
            <input id="contact-form-email" class="contact-form-input" type="text" name="email", placeholder="Email"><br>
            <select name="therapy_type" form="contact-form" id="contact-form-select" class="contact-form-input" >
              <option value="" disabled selected>Select Therapy Type</option>
              <option value="voice">Voice</option>
              <option value="speech">Speech</option>
              <option value="singing">Singing</option>
              <option value="howling">Howling</option>
            </select>
            <br>
            <textarea class="contact-form-input" name="message" form="contact-form" placeholder="Message"></textarea>
            <br>
            <input id="contact-form-submit" type="submit" value="Submit">
          </form>
        </div>
      </div>
    </div>

    <!-- <%= render 'home/mid_section' %> -->
  </div>
</div>
