<a class="anchor" id="faq"></a>
<div class="row" id="faq-row">
  <div class="col-12" id="faq-column">
    <div id="faq-header">
      <div id="faq-header-text">
        <span>
          FAQ
        </span>
      </div>
    </div>
    <div id="faq-body">
      <div class="row">
        <div class="col">
          <div class="faq-dropdown one">
            <div class="faq-dropdown-header" id="trigger-info-one">
              What insurance providers do we accept?
            </div>
            <div class="faq-dropdown-body one">
              <span style="font-size:120%;"><strong>Contracts:</strong></span>
              <br>
              Medicare,
              Medicaid,
              MultiPlan PHCS,
              United Health Care,
              Humana,
              Pacificare,
              EverCare,
              Secure Horizons,
              Anthem BCBS
              <br>
              <br>
              <span style="font-size:120%;"><strong>In Network:</strong></span>
              <br>TriWest Prime
              CHP+,
              Colorado Access,
              Rocky Mountain,
              Kaiser
              <br><br>
              <span style="font-size:120%;"><strong>Out of Network:</strong></span>
              <br>
              Aetna,
              Cigna/Great West,
              Bright Health
              <br>
              <br>
              <img class="faq-logo-photo" src="https://s3-us-west-1.amazonaws.com/foothills-assets/FoothillsLogo.png" alt="faq-us-logo-photo" height="10%" width="10%">
            </div>
          </div>
          <div class="faq-dropdown six">
            <div class="faq-dropdown-header" id="trigger-info-six">
              What disorders do we provide therapy for?
            </div>
            <div class="faq-dropdown-body six">
              <span style="font-size:115%;"><strong>Pediatric Disorders:</strong></span>
              <br>
              Articulation,
              Language Disorders,
              Reading/Spelling,
              Voice Disorders,
              Resonance,
              Cleft Lip and Palate,
              Fluency,
              Traumatic Brain Injury,
              Tongue Thrust,
              Dyspraxia,
              Attention Deficit,
              Autism Spectrum,
              Auditory Processing,
              Congenital Issues,
              Genetic Conditions,
              Neurological Deficits,
              Dyslexia,
              Hearing Impairment,
              Sign Language
              ...and more
              <br><br>
              <span style="font-size:115%;"><strong>Adult Disorders:</strong></span>
              <br>
              Laryngeal Pathologies,
              Refactory/Chronic Cough,
              Voice Disorders
              Aphasia/Stroke,
              Dysarthria,
              Memory Deficits,
              Neurological Concerns,
              G.E.R.D,
              Vocal Cord Dysfunction,
              Transgender Voice,
              Head Injury,
              Tongue Thrust,
              Degenerative Disease,
              Mild Swallowing concerns,
              Spasmodic Dysphonia,
              LSVT-LOUD (Parkinson's Disease),
              Cognitive Rehabilitation,
              Accent Reduction
              ...and more
              <br>
              <br>
              <img class="faq-logo-photo" src="https://s3-us-west-1.amazonaws.com/foothills-assets/FoothillsLogo.png" alt="faq-us-logo-photo" height="10%" width="10%">
            </div>
          </div>
          <div class="faq-dropdown two">
            <div class="faq-dropdown-header" id="trigger-info-two">
              When is the best time to start therapy?
            </div>
            <div class="faq-dropdown-body two">
              <p>
                Therapy can start as soon as a concern is
                present. Waiting for things to resolve “on their own” can be detrimental to remediation of
                many disorders of communication. It is best to be evaluated by a Speech Language Pathologist
                and have him/her answer this question as they are the experts. Obtaining a referral from your
                physician is often helpful.
              </p>
              <img class="faq-logo-photo" src="https://s3-us-west-1.amazonaws.com/foothills-assets/FoothillsLogo.png" alt="faq-us-logo-photo" height="10%" width="10%">
            </div>
          </div>
          <div class="faq-dropdown three">
            <div class="faq-dropdown-header" id="trigger-info-three">
              How long will therapy last?
            </div>
            <div class="faq-dropdown-body three">
              <p>
                This is a great question that is hard to answer and truly
                varies on a case by case basis. We often will provide a potential “range” of treatment to help
                families/patients prepare and plan. The complexity and severity of diagnosis, current level of
                functioning, identifying possible obstacles for learning and family needs are all taken into
                consideration when answering this question.
              </p>
              <p>
                Treatment for some diagnoses can be as few as
                two or three visits while others may take several months or longer. In general, we recommend
                weekly, thirty minute sessions, with re-occurring visits when possible. Home program ideas are
                shared and recommended with almost all sessions. We strive to educate our patients and
                involve family members so that you will feel comfortable and confident in generalizing skills into
                the home and beyond.
              </p>
              <img class="faq-logo-photo" src="https://s3-us-west-1.amazonaws.com/foothills-assets/FoothillsLogo.png" alt="faq-us-logo-photo" height="10%" width="10%">
            </div>
          </div>
          <div class="faq-dropdown four">
            <div class="faq-dropdown-header" id="trigger-info-four">
              Why am I being referred to a speech language pathologist for this?
            </div>
            <div class="faq-dropdown-body four">
              <p>
                Our profession, unfortunately, is
                greatly unknown to the general population despite the fact that over 30 million American’s
                suffer from communication disorders. Our field is involved in persons across the lifespan.
                There are several types of treatment settings from educational, medical to specialized
                consultation. If there is an issue involving the brain, respiration, cognition, swallowing,
                developmental delay, hearing, auditory perception, attention, speaking, reading, writing, vocal
                performance, muscle tone, or laryngeal function there is a good chance an SLP may be
                involved. If you have questions we can help provide answers.
              </p>
              <img class="faq-logo-photo" src="https://s3-us-west-1.amazonaws.com/foothills-assets/FoothillsLogo.png" alt="faq-us-logo-photo" height="10%" width="10%">
            </div>
          </div>
          <div class="faq-dropdown seven">
            <div class="faq-dropdown-header" id="trigger-info-seven">
              Will my insurance cover this?
            </div>
            <div class="faq-dropdown-body seven">
              <p>
                Knowing the details of your specific insurance policy is the
                best way to be prepared to answer this question. We will <em>never</em> guarantee that your insurance
                will cover services. Also remember that even an “authorization” is not a guarantee of payment.
                We adhere to ethical and professional guidelines when submitting claims to your insurance
                company and will do so in a timely manner.
              </p>
              <p>
                Medical insurance typically covers “medically
                appropriate” treatment based on the diagnosis and procedure billed. The definition of
                medically appropriate varies from policy to policy. If your insurance company does not cover
                the costs of our treatment, we have several different payment options available to you.
              </p>
              <img class="faq-logo-photo" src="https://s3-us-west-1.amazonaws.com/foothills-assets/FoothillsLogo.png" alt="faq-us-logo-photo" height="10%" width="10%">
            </div>
          </div>
          <div class="faq-dropdown five">
            <div class="faq-dropdown-header" id="trigger-info-five">
              Forms & Policies
            </div>
            <div class="faq-dropdown-body five">
              <span style="font-size:115%;"><strong>Please Complete Intake Form and Policies & Procedures:</strong></span>
              <br>
              <a href="http://nebula.wsimg.com/ee9c42d1fbc4b69657f3afb8a4480103?AccessKeyId=D5C2E150D455F32B27E2&disposition=0&alloworigin=1">Intake Form (All Patients Complete)</a>
              <br>
              <br>
              <a href="http://nebula.wsimg.com/9026fe351fe6cd6369bef7ca19f46b1d?AccessKeyId=D5C2E150D455F32B27E2&disposition=0&alloworigin=1">Voice Form</a>
              <br><br>
              <a href="http://nebula.wsimg.com/31d66e6a855d68a67f16c45b35d9893e?AccessKeyId=D5C2E150D455F32B27E2&disposition=0&alloworigin=1">Cough Form</a>
              <br><br>
              <a href="http://nebula.wsimg.com/ea917f6557845860cc81af104bb78ae1?AccessKeyId=D5C2E150D455F32B27E2&disposition=0&alloworigin=1">Vocal Chord Disfunction</a>
              <br><br>
              <span style="font-size:115%;"><strong>Policies:</strong></span>
              <br>
              <a href="http://nebula.wsimg.com/e722b8eac179229d4ad5c6b0244620d8?AccessKeyId=D5C2E150D455F32B27E2&disposition=0&alloworigin=1">Policies and Procedures,</a>
              <a href="http://nebula.wsimg.com/239655b59487f8e140030288b12694ad?AccessKeyId=D5C2E150D455F32B27E2&disposition=0&alloworigin=1">Privacy Policy</a>
              <br>
              <br>
              <img class="faq-logo-photo" src="https://s3-us-west-1.amazonaws.com/foothills-assets/FoothillsLogo.png" alt="faq-us-logo-photo" height="10%" width="10%">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'home/mid_section' %>

<script>
  $("#trigger-info-one").click(function(){
      $(this).toggleClass("active")
      $(".faq-dropdown-body.one").slideToggle("normal");
  });
</script>
<script>
  $(".faq-dropdown-body.one").hide();
</script>
<script>
  $("#trigger-info-two").click(function(){
      $(this).toggleClass("active")
      $(".faq-dropdown-body.two").slideToggle("normal");
  });
</script>
<script>
  $(".faq-dropdown-body.two").hide();
</script>
<script>
  $("#trigger-info-three").click(function(){
      $(this).toggleClass("active")
      $(".faq-dropdown-body.three").slideToggle("normal");
  });
</script>
<script>
  $(".faq-dropdown-body.three").hide();
</script>
<script>
  $("#trigger-info-four").click(function(){
      $(this).toggleClass("active")
      $(".faq-dropdown-body.four").slideToggle("normal");
  });
</script>
<script>
  $(".faq-dropdown-body.four").hide();
</script>
<script>
  $("#trigger-info-five").click(function(){
      $(this).toggleClass("active")
      $(".faq-dropdown-body.five").slideToggle("normal");
  });
</script>
<script>
  $(".faq-dropdown-body.five").hide();
</script>
<script>
  $("#trigger-info-six").click(function(){
      $(this).toggleClass("active")
      $(".faq-dropdown-body.six").slideToggle("normal");
  });
</script>
<script>
  $(".faq-dropdown-body.six").hide();
</script>
<script>
  $("#trigger-info-seven").click(function(){
      $(this).toggleClass("active")
      $(".faq-dropdown-body.seven").slideToggle("normal");
  });
</script>
<script>
  $(".faq-dropdown-body.seven").hide();
</script>
