<div id="overlay-jeff" class="overlay" onclick="off('jeff')">
  <div class="overlay-text">
    <p>
      Jeffs studies in the field of communication disorders began at the University of Maine at Orono.  After moving to Colorado, he completed a Master of Arts degree from the University of Colorado at Boulder.
      <br><br>
      Professionally his first twelve years were spent at The Children's Hospital Northwest Specialty Care Center.  He worked for another private practice until opening Foothills Speech and Language LLC in June of 2009.
      <br><br>
      In addition to working and managing Foothills Speech and Language LLC, Jeff continues to work with the Children's Hospital Colorado Cleft Lip and Palate Team, an area of professional expertise.  He is also an appointed faculty member for the University of Colorado, Boulder Campus, teaching graduate students on cleft lip and palate.  Mr. Steffen remains active in  state and national organizations. He has taught and lectured at local, state and international venues. He currently also serves as the Vice President of the Colorado Speech Language Hearing Foundation.
      <br><br>
      Spare time is devoted to helping raise his children, skiing, hiking, golfing, and home brewing.
    </p>
  </div>
</div>
<div id="overlay-julia" class="overlay" onclick="off('julia')">
  <div class="overlay-text">
    <br>
    Julia joined Foothills in June 2019. She received her bachelor’s
    degree in Communication at DePauw University. Before
    obtaining her Master’s degree in Speech Language Pathology at
    Miami University, she also worked in public health research for
    Northwestern University in Chicago. This sparked Julia’s
    interest in patient care and how medical providers can best
    treat and influence their patient’s path to recovery. Julia has
    worked as an SLP with patients across the lifespan in the
    hospital, clinic, skilled nursing facility and school setting.
    Additionally, she has conducted research investigating the
    validity of evaluation tools (cervical auscultation) in detecting
    swallowing disorders, and in sports concussion management in
    collegiate athletes. Julia is very passionate about working as a
    team with patients and their families to provide the most
    effective and meaningful treatment that impacts their life both
    inside and outside the therapy room. In her free time, Julia
    loves cooking, baking (i.e. perfecting her chocolate chip cookie
    recipe), reading historical fiction novels, running, and
    traveling.
  </div>
</div>
<div id="overlay-maggie" class="overlay" onclick="off('maggie')">
  <div class="overlay-text">
    <br>
    Maggie received her Master's Degree from MGH Institue of Health Professions in Boston, MA and has been working as an SLP in a vriety of settings for the past 13 years, such as acute care, skilled-nursing facilities, schools, and private practice.  Thus, she has been able to hone her skills in a variety of areas including feeding/swallowing, language, and cognition wit the adult population.  However, her true passion remains in pediatric assessment and treatment of articulation/phonology, language, voice/resonance and literacy, as she recently became a Certified Reading Specialist.  Maggie has recently moved to the beautiful state of Colorado and looks forward to all the great activities it has to offer!
  </div>
</div>
<div id="overlay-terry" class="overlay" onclick="off('terry')">
  <div class="overlay-text">
    <br>
    Terry received her Bachelor and Master degrees from the University of Northern Colorado.  she has practiced as a Speech-Language Pathologist for over 30 years specializing in areas of swallowing disorders, the effects of stroke and brain injury, and medically complex patients.
    She has been active for over 15 years with the Colorado Speech-Language-Hearing Association and is the acting President of the Colorado-Language-Hearing Foundation.
    Her hobbies include hiking, snowshoeing, reading and listening to great music. She is a Colorado native.
  </div>
</div>
<div id="overlay-kari" class="overlay" onclick="off('kari')">
  <div class="overlay-text">
    <br>
    Kari received her Master’s degree in Speech-Language Pathology from the University of
    Northern Colorado in 2014. She has experience treating patients of all ages, and is
    knowledgeable in the areas of articulation/phonology, stuttering, language delay, aphasia,
    voice, and swallowing disorders. Kari is especially passionate about the areas of voice and
    swallowing. She has extensive experience performing Modified Barium Swallow Studies (x-
    ray swallow tests) and is a trained endoscopist for FEES and Stroboscopy. She is trained in
    NMES (neuromuscular electrical stimulation), laryngeal manipulation, circumlaryngeal
    massage, and is a certified provider of MDTP (McNeill Dysphagia Therapy Program). She
    values research-based practice and individualized therapy tailored to help patients succeed in
    and out of the clinic setting. Outside of work, Kari enjoys reading, traveling, spending time
    with family and friends, dance/fitness, biking, movies, and baking.
  </div>
</div>
