<div id="overlay-jeff" class="overlay" onclick="off('jeff')">
  <div class="overlay-text">
    Jeff Steffen
    <p>
      His studies in the field of communication disorders began at the University of Maine at Orono.  After moving to Colorado, he completed a Master of Arts degree from the University of Colorado at Boulder.
      <br><br>
      Professionally his first twelve years were spent at The Children's Hospital Northwest Specialty Care Center.  He worked for another private practice until opening Foothills Speech and Language LLC in June of 2009.
      <br><br>
      In addition to working and managing Foothills Speech and Language LLC, Jeff continues to work with the Children's Hospital Colorado Cleft Lip and Palate Team, an area of professional expertise.  He is also an appointed faculty member for the University of Colorado, Boulder Campus, teaching graduate students on cleft lip and palate.  Mr. Steffen remains active in  state and national organizations. He has taught and lectured at local, state and international venues. He currently also serves as the Vice President of the Colorado Speech Language Hearing Foundation.
      <br><br>
      Spare time is devoted to helping raise his children, skiing, hiking, golfing, and home brewing.
    </p>
  </div>
</div>
<div id="overlay-allison" class="overlay" onclick="off('allison')">
  <div class="overlay-text">
    Allison Lekich
    <br>
    Allison joined our team full time in August 2016.  She received her Master's degree in Speech-Language Pathology from Columbia University in 2014.  She has practiced in both school and private practice settings specializing in the treatment of pediatric speech and language disorders.  She is knowledgeable in evaluating and treating individuals with autism spectrum disorder, articulation/phonological disorders, and expressive, receptive and pragmatic language disorder.  Additionally, she has experience treating voice disorders and was trained at the New York Eye and Ear Infirmary's voice clinic.  Her professional goal is to help children and adults enhance their functional communication to grow and succeed academically, professionally, and socially.  In her free time, her hobbies include hiking, dance and traveling.
  </div>
</div>
<div id="overlay-brooke" class="overlay" onclick="off('brooke')">
  <div class="overlay-text">
    Brooke
    <br>
    Brooke received her Master's degree in Speech-Language Pathology from Midwestern University in 2017.  She is practicing in both the school and private practice settings and her clinical interest span all age ranges.  Brooke is knowledgeable in evaluating and treating individual with articulation/phonological, language, voice and resonance, swallowing, and feeding disorders and was trained at Children's Hospital Colorado.   Additionally, she has conducted research on Emotion word usage in Autism and the methodology utilized in FEES to evaluate pharyngeal residue.  In her free time, her hobbies include hiking, snowboarding, singing, and traveling.
  </div>
</div>
<div id="overlay-gabby" class="overlay" onclick="off('gabby')">
  <div class="overlay-text">
    Gabby
    <br>
    Gabby received her Master's degree from Northern Arizona University in 2015.  She has professional experience within a variety of settings including skilled nursing and private practice treating individual ages 2 yrs to over 100yrs.  These setting provided experience with working with individual with speech and language delay, neurogenic, and swallowing difficulties.  Gabby's approach to therapy includes providing client/caregiver education along with an individualized home program to facilitate functional communication.
    <br>
    Gabby enjoys working with people of all ages, although specifically has an interest in differentially diagnosing and treating children with childhood apraxia of speech.
  </div>
</div>
<div id="overlay-maggie" class="overlay" onclick="off('maggie')">
  <div class="overlay-text">
    Maggie
    <br>
    Maggie received her Master's Degree from MGH Institue of Health Professions in Boston, MA and has been working as an SLP in a vriety of settings for the past 13 years, such as acute care, skilled-nursing facilities, schools, and private practice.  Thus, she has been able to hone her skills in a variety of areas including feeding/swallowing, language, and cognition wit the adult population.  However, her true passion remains in pediatric assessment and treatment of articulation/phonology, language, voice/resonance and literacy, as she recently became a Certified Reading Specialist.  Maggie has recently moved to the beautiful state of Colorado and looks forward to all the great activities it has to offer!
  </div>
</div>
