<a class="anchor" id="testimonials"></a>
<div class="row" id="testimonials-row">
  <div class="col-12" id="testimonials-column">
    <a class="anchor" id="testimonials"></a>
    <div id="testimonials-text">
      <div id="testimonials-header">
        <div id="testimonials-header-text">
          <span>
            Testimonials
          </span>
        </div>
      </div>
      <div id="testimonials-body">
        <div class="row justify-content-center" id="testimonials-text-row">
          <div class="col-4">
            <p class="testimonial-text">
              "My son was diagnosed with ASD nearly 3 years ago when he was 22 months old.  Since the beginning we have been coming to see Jeff Steffen.  His work with my son has been so thorough without sacrificing patience; and his ability to connect with him is tremendous, even on his first day.  When it seemed next to impossible to communicate with my son, Jeff has captured ways to make it happen."
              <br>
              -Elena M.
            </p>
          </div>
          <div class="col-4">
            <p class="testimonial-text">
              "Throughout my life, I have struggled with both a learning disability and a speech impediment. I have battled self-doubt and the fear of rejection, sparked by those who said I would never be successful, would never graduate from high school, or ever get married because no girl would be able to understand me. With Julia’s help, I have been making progress for the first time in my life with my speech impediment. Julia is an outstanding and compassionate person to work with. She strives to understand and relate to her clients, and has specifically inspired me to be more confident in my speech. If I were asked one word to describe her, it would be “hero.” She has helped me believe that I am more than my struggles and has encouraged me not to let my speech impediment define me. Because of Julia, I want to help others with speech impediments, lifting them up and motivating them as Julia has done for me."
              <br>
              -Robert T.
            </p>
          </div>
          <div class="col-4">
            <p class="testimonial-text">
              "Brooke has worked so hard with my 5 year old who has had difficulty producing sounds. Today is his last day as he is now able to produce all sounds! Thank you Brooke!"
              <br>
              -Jillian H.
            </p>
          </div>
        </div>
        <div class="row justify-content-center" id="testimonials-text-row" style="margin-top:2%;">
          <div class="col-4">
            <p class="testimonial-text">
              "Jeff was recommended to us by our Ear, Nose and Throat (ENT) physician when our 13-month old son was not speaking.  Jeff was able to make our therapy sessions fun for our son and he gave us guidance on how to better encourage speech for our young son.  Our son made huge improvements immediately after working with Jeff and he continues to improve daily.  Our son is now 2 and he is at average or above average levels.  Jeff has the unique ability to be able to communicate effectively with children and adults.  Jeff's love for his work radiates from him.  we are so grateful for everything that he has done for us."
              <br>
              -Stephanie and Chad M.
            </p>
          </div>
          <div class="col-4">
            <p class="testimonial-text">
              "Ms. Alison is awesome. She works well with her students. My son loves her! The staff there is great too."
              <br>
              -Mary F.
            </p>
          </div>
          <div class="col-4">
            <p class="testimonial-text">
              "Ms. Brooke was fantastic for our 4 year old. She was able to quickly identify the trouble spots and helped our child correct herself by helping her hear the sounds. I cannot say thank you enough."
              <br>
              -Lindsey M.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'home/mid_section' %>
