<a class="anchor" id="therapy"></a>
<div class="row" id="therapy-row">
  <div class="col-12" id="therapy-column" style="margin-left:0px;padding-left:0px;" >
    <div id="therapy-header">
      <div id="therapy-header-text">
        Therapists
      </div>
    </div>
    <div id="therapy-body" style="margin-left:0px;padding-left:0px;">
      <div class="row justify-content-center" style="padding-left:0px; margin-left:0px;" >
        <div class="card">
          <img class="card-img-top" src="https://s3-us-west-2.amazonaws.com/foothills-speech/pictures/JS+4x3.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Jeff Steffen M.A., CCC-SLP, Founder</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <button onclick='on("jeff")'>Learn More</button>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="https://s3-us-west-2.amazonaws.com/foothills-speech/pictures/IMG_5030.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Allison Lekich M.S., CCC-SLP</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <button onclick='on("allison")'>Learn More</button>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="https://s3-us-west-2.amazonaws.com/foothills-speech/pictures/IMG_5008.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Brooke Wesler-Krantz M.S., CF-SLP</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <button onclick='on("brooke")'>Learn More</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center" style="margin-top:2%;">
      <div class="card">
        <img class="card-img-top" src="https://s3-us-west-2.amazonaws.com/foothills-speech/pictures/Gabby+4x3.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Gabrielle "Gabby" Posner M.S, CCC-SLP </h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <button onclick='on("gabby")'>Learn More</button>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="https://s3-us-west-2.amazonaws.com/foothills-speech/pictures/Maggie+4x3.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Margaret "Maggie" Keys M.S., CCC-SLP</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          <button onclick='on("maggie")'>Learn More</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <%= render 'home/mid_section' %> -->
