<%= render 'navbar/navbar' %>

<div class="row" id="home-picture-row">
  <div class="col-12" style="padding-right:0px;">
    <a class="anchor" id="home"></a>
    <div class="jumbotron jumbotron-fluid" id="home-banner">
      <div class="container" id="jumbotron-text">
        <p>SPEECH, LANGUAGE AND VOICE THERAPY ACROSS THE LIFESPAN</p>
        <!-- <p class="lead">SPEECH, LANGUAGE AND VOICE THERAPY ACROSS THE LIFESPAN</p> -->
         <a class="btn btn-primary btn-lg" href="#about-us" role="button">Learn more</a>
      </div>
      <div class="downArrow bounce">
        <!-- <img width="40" height="40" alt="" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDMyIDMyIiBoZWlnaHQ9IjMycHgiIGlkPSLQodC70L7QuV8xIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAzMiAzMiIgd2lkdGg9IjMycHgiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxwYXRoIGQ9Ik0yNC4yODUsMTEuMjg0TDE2LDE5LjU3MWwtOC4yODUtOC4yODhjLTAuMzk1LTAuMzk1LTEuMDM0LTAuMzk1LTEuNDI5LDAgIGMtMC4zOTQsMC4zOTUtMC4zOTQsMS4wMzUsMCwxLjQzbDguOTk5LDkuMDAybDAsMGwwLDBjMC4zOTQsMC4zOTUsMS4wMzQsMC4zOTUsMS40MjgsMGw4Ljk5OS05LjAwMiAgYzAuMzk0LTAuMzk1LDAuMzk0LTEuMDM2LDAtMS40MzFDMjUuMzE5LDEwLjg4OSwyNC42NzksMTAuODg5LDI0LjI4NSwxMS4yODR6IiBmaWxsPSIjMTIxMzEzIiBpZD0iRXhwYW5kX01vcmUiLz48Zy8+PGcvPjxnLz48Zy8+PGcvPjxnLz48L3N2Zz4=" /> -->
        <i class="fas fa-chevron-down fa-sm"></i>
        </div>
      </div>
  </div>
</div>


<div class="row" id="about-us-row">
  <div class="col-12" id="about-us-column">
    <a class="anchor" id="about-us"></a>
    <div id="about-us-text">
      <div id="about-us-header">
        <span>
          About Us
        </span>
      </div>
      <div id="about-us-body">
        <p id="about-us-body-text">
          Foothills Speech and Language is one of few outpatient offices treating patients of all
          ages struggling with a wide range of communicative disorders.
          <br><br>
          Exceptional quality care is our goal.
           Providing individualized, evidence-based practices, specific to each patient with a focus on
          functional and lasting outcomes is our commitment to you.
          <br><br>
          Our knowledgeable staff has
          treated patients ranging from 5 days of life to 105 years of living.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row" id="therapy-row">
  <div class="col-12" id="therapy-column">
    <a class="anchor" id="therapy"></a>
    <div id="therapy-header">
      <span>
        Therapy
      </span>
    </div>
    <div id="therapy-body">
      <p id="therapy-body-text">
        Foothills Speech and Language is one of few outpatient offices treating patients of all
        ages struggling with a wide range of communicative disorders.
        <br><br>
        Exceptional quality care is our goal.
         Providing individualized, evidence-based practices, specific to each patient with a focus on
        functional and lasting outcomes is our commitment to you.
        <br><br>
        Our knowledgeable staff has
        treated patients ranging from 5 days of life to 105 years of living.
      </p>
    </div>
  </div>
</div>
<%= render 'footer/footer' %>
