<%= render 'navbar/navbar' %>

<div class="row no-gutters" id="home-picture-row">
  <div class="col-12">
    <div class="jumbotron jumbotron-fluid" id="home-banner">
      <div class="container">
        <p>SPEECH, LANGUAGE AND VOICE THERAPY ACROSS THE LIFESPAN</p>
        <!-- <p class="lead">SPEECH, LANGUAGE AND VOICE THERAPY ACROSS THE LIFESPAN</p> -->
         <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
      </div>
    </div>
  </div>
</div>
<div class="row" id="about-us-row">
  <div class="col-12" id="about-us-column">
    <div id="about-us-header">
      <span>
        About Us
      </span>
    </div>
    <div id="about-us-body">
      <p id="about-us-body-text">
        Foothills Speech and Language is one of few outpatient offices treating patients of all
        ages struggling with a wide range of communicative disorders.
        <br><br>
        Exceptional quality care is our goal.
         Providing individualized, evidence-based practices, specific to each patient with a focus on
        functional and lasting outcomes is our commitment to you.
        <br><br>
        Our knowledgeable staff has
        treated patients ranging from 5 days of life to 105 years of living.
      </p>
    </div>
  </div>
</div>
